<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'handles/login.css' %}">
</head>
<body>
    <main>
            <section class="login">


            <h1 class="title">Login</h1>
            <h4 class="title_below">Find a study room.</h4>

            <form method="post" action="">
                {% csrf_token %}
                {% if messages %}
                <ul class="message">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p class="input"><input type="email" name="email" placeholder="Enter Your Email..."></p>
                <p class="input"><input type="password" name="password" placeholder="Enter your Password..."></p>
                <p class="submit"><input type="submit" value="Login"></p>
            </form>

            <p class="signup">Haven't signed up yet?</p>
            <p class="signup"><a href="{% url 'register' %}">Sign up</a></p>
        </section>
    </main>
</body>
</html>