<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'handles/register.css' %}">
</head>
<body>
    <main class="form_container">
        <section class="form_field">


            <h1 class="title">Register</h1>

            <form method="post" action="">
                {% csrf_token %}

                {% for field in form %}
                    <p class="label">{{ field.label }}</p>
                    <p class="input">{{ field }}</p>
                {% endfor %}
                <p class="submit"><input type="submit" value="Register"></p>

                <article class="login_container">
                    <p>Already signed up yet?</p>
                    <p class="login"><a href="{% url 'login' %}">Login</a></p>
                </article>

            </form>


        </section>
    </main>
</body>
</html>