<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rooms</title>
    <link rel="stylesheet" href="{% static 'handles/rooms.css' %}">
</head>
<body>
    <header>
        <h1>Engineer's Hub</h1>
        <form method="get" action="{% url 'rooms' %}">
            <input type="text" name="q" placeholder="Search Rooms">
        </form>

        <nav>
            <img src="{{ user_info.avatar.url }}" class="image_feed image">
            <p class="profile"><a href="{% url 'profile' request.user.id %}">@{{ request.user.username }}</a></p>
            <p class="logout"><a href="{% url 'logout' %}">Logout</a></p>
        </nav>

    </header>

    <main>
        <section class="topics">
            {% include 'handle/includes/topics.html' %}
        </section>

        <section class="feed">

            <article class="search hide">
                <form method="get" action="{% url 'rooms' %}">
                    <input type="text" name="q" placeholder="Search Rooms">
                </form>
            </article>

            <article class="topics_activities top">
                <article class="hide ta_container browse">
                    <input type="checkbox" name="slider" id="browse_topics">
                    <label for="browse_topics" class="browse_topics">Browse Topics</label>

                    <article class="topics_too">
                        {% include 'handle/includes/topics.html' %}
                    </article>
                </article>

                <article class="hide ta_container act">
                    <input type="checkbox" name="slider" id="recent_activities">
                    <label for="recent_activities" class="recent_activities">Recent Activities</label>

                    <article class="activities_too">
                        {% include 'handle/includes/activity.html' %}
                    </article>

                </article>
            </article>

            <article class="feed_title">
                <h5>{{ room_count }} rooms available</h5>
                <a href="{% url 'create-room' %}">Create Room</a>
            </article>

            <article>
                <!--{% include 'handle/includes/feed.html' %} -->

                <section class="container">
                    {% for room in page_obj.object_list %}
                      <article class="feed_rooms">
                        {% if request.user == room.host %}
                            <article class="delete_edit">
                                <a href="{% url 'update-room' room.id %}">Edit</a>
                                <a href="{% url 'delete-room' room.id %}">Delete</a>
                            </article>
                        {% endif %}

                        <article class="name_date">

                            <figure class="image_container feed_image">
                                <img src="{{ room.host.avatar.url }}" class="image_feed image">
                                <a href="{% url 'profile' room.host.id %}">@{{ room.host.username }}</a>
                            </figure>
                            <h4>{{ room.created| timesince }} ago</h4>
                        </article>

                        <h5><a href="{% url 'room-detail' room.id %}">{{ room.name }}</a></h5>
                        <p class="description">{{ room.description }}</p>
                        <p class="topic_name">{{ room.topic.name }}</p>
                        <hr class="line">
                    </article>
                     {% endfor %}
                </section>
                <section>
                    {% if page_obj.has_other_pages %}
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                          {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}

                </section>
             </article>
        </section>

        <section class="activities">
            {% include 'handle/includes/activity.html' %}
        </section>
    </main>

</body>
</html>