/* || RESET || */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#browse_topics {
    display: none;
}

#recent_activities {
    display: none;
}

.hide {
    display: none;
}

.hide input {
    display: none;
}

.activities_too h2 {
    display: none;
}

.activities_too {
    display: none;
}

.topics_too {
    display: none;
}

.topics_too h1 {
    display: none;
}

/* || GENERAL || */
body {
    background-color: #363434;
    max-height: 97vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}


/* || HEADER || */

header {
    background-color: #6e7777;
    height: 4rem;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    color: white;
}

header input {
    width: 25rem;
    padding: 0.7rem;
    border-radius: 1rem;
    background-color: rgba(220, 220, 220, 0.6);
    caret-color: #ddffdd;
    color: #ddffdd;

    outline: none;
    border: 3px solid green;
    font-size: 1.3rem;
}

header input::placeholder {
    color: #ddffdd;
}

header nav {
    display: flex;
    align-items: center;
}

header .logout a {
    color: #1b1b1b;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: white;

    text-decoration: none;
    margin-left: 2rem;
    transition: all 0.5s ease-in-out;
}

header .logout a:hover {
    background-color: #4f4f4f;
    color: white;
}

header .profile a:any-link {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

header .profile a:hover {
    text-decoration: underline;
}


/* || MAIN || */
main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2rem;

    padding: 2rem;
}


/* || TOPICS || */
.topics h1 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.topics .all a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.topics_loop {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
}

.topics_loop a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


/* || FEED || */

.feed {
    padding: 0.5rem 2rem 1rem 0rem;
}

.feed h5{
    color: white;
    font-size: 1.3rem;
}

.feed_title {
    display: flex;
    justify-content: space-between;
}

.feed_title a {
    color: white;
}

.name_date {
    display: flex;
    justify-content: space-between;
}

.feed_rooms {
    background-color: #6e7777;
    height: 15rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;

    position: relative;
}

.feed_rooms h5 {
    margin-top: 1.3rem;
    text-decoration: none;
}

.feed_rooms h5 a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.4rem;
}

.feed_rooms h5 a:hover {
    color: gainsboro;
}

.description {
    margin-top: 1.2rem;
    color: lightgoldenrodyellow;
}

.line {
    position: absolute;
    bottom: 4rem;
    width: 95%;
}

.topic_name {
    position: absolute;
    left: 1rem;
    bottom: 1.3rem;
    font-size: 1.34rem;
    color: #ddffdd;
}

.delete_edit {
    position: absolute;
    right: 1rem;
    bottom: 1.3rem;
    margin-right: 0.4rem;
}

.delete_edit a {
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: white;
    color: #4f4f4f;
}

.image_container {
    display: flex;
    align-items: center;
}

.image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 0.5rem;
}

.image_container .image_feed {
    margin-right: 1rem;
}


/* || ACTIVITIES || */

.activities h2 {
    color: white;
    background-color: #4f4f4f;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.activity_container {
    padding: 1rem;
    background-color: #464242;
    max-height: 550px;
    overflow: auto;

}

.activity_loop {
    padding: 0.5rem;
    border: 0.1rem solid floralwhite;
    border-radius: 0.4rem;
    margin-bottom: 1.1rem;
}

.activity_loop .user a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.activity_loop .time {
    color: gray;
    margin-bottom: 0.4rem;
}

.activity_loop .replied {
    color: floralwhite;
    margin-bottom: 0.5rem;
}
.activity_loop .replied a {
    color: #dcdc99;
    text-decoration: none;
}

.activity_loop .message {
    width: 100%;
    max-height: 7rem;
    padding: 0.5rem;
    background-color: rgba(148, 148, 154, 0.2);
    color: white;
}

.activity_loop .delete {
    margin-top: 0.4rem;
}
.activity_loop .delete a {
    text-decoration: none;
    color: mediumpurple;
    margin-top: 1rem;
}


/* || USER DATA || */

.user_data img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

.user_data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}

.user_data h1 {
    color: white;
    font-size: 1.3rem;
}

.user_data p {
    color: #afa4a9;
    font-size: 1.2rem;
}

.user_data button {
    padding: 0.8rem;
    color: #81d4fa;
    background-color: transparent;
    border: 1px solid #81d4fa;
    border-radius: 10px;
}

.user_data button:hover {
    background-color: rgba(129, 212, 250, 0.2);
    color: white;
    cursor: pointer;
}

.user_data_h3 {
    color: white;
    font-size: 1.4rem;
}

.user_about {
    color: #ddffdd;
}

.user_bio {
    color: #bbbbbb;
    margin-bottom: 1rem;
}

/* || COUNT TOPICS || */

.count_container {
    position: relative;
}

.topics_number {
    position: absolute;
    right: 2rem;

    background-color: #bbbbbb;
    padding: 0.2rem 0.6rem;
}

/* || HIDE || */

.search form {
    display: grid;
    place-content: center;
}

.search input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 1rem;
    background-color: rgba(220, 220, 220, 0.6);
    caret-color: #ddffdd;
    color: #ddffdd;

    outline: none;
    border: 3px solid green;
    font-size: 1.3rem;

}

.search input::placeholder {
    color: #ddffdd;
}


.topics_activities {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.topics_activities .ta_container {
    background-color: transparent;
    border: 2px solid purple;
    border-radius: 1.3rem;
    padding: 0.6em;
    font-size: 1.3rem;
    margin: 1.2rem 0;
    cursor: pointer;

}

.topics_activities .act {
    position: relative;
    cursor: pointer;
}

.activities_too .activity_container {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    z-index: 1;

    padding: 1rem;
    background-color: #464242;
    max-height: 420px;
    width: 400px;
    overflow: auto;

}

#recent_activities:checked ~ .activities_too {
    display: block;
}


#recent_activities:checked ~ label {
    color: white;
}

.browse {
    cursor: pointer;
    position: relative;
}

.topics_too .topics_loop {
    position: absolute;
    top: 3.5rem;
    left: 2rem;
    z-index: 1;

    padding: 1rem;
    background-color: #464242;
    max-height: 500px;
    width: 300px;
    overflow: auto;

}

#browse_topics:checked ~ .topics_too {
    display: block;
}

#browse_topics:checked ~ label {
    color: white;
}


/* || MEDIA QUERIES || */

/*  MOBILE DEVICES */

@media (max-width: 320px) {

    .topics, .activities, header input {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    .hide input{
        display: block;
    }
    .hide button {
        display: inline-block;
    }
    .hide {
        display: block;
    }
    .search input {
        width: 14rem;
    }

}

@media (min-width: 320px) and (max-width: 480px) {

    .topics, .activities, header input {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    .hide input{
        display: block;
    }
    .hide button {
        display: inline-block;
    }
    .hide {
        display: block;
    }
    .search input {
        width: 20rem;
    }

}

/*  iPads and Tablets */

@media (min-width: 481px) and (max-width: 768px) {

    .topics, .activities, header input {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    .hide input{
        display: block;
    }
    .hide button {
        display: inline-block;
    }
    .hide {
        display: block;
    }

}

/*  Laptop and small screens */

@media (min-width: 769px) and (max-width: 1024px) {
     .topics, .activities, header input {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    .hide input{
        display: block;
    }
    .hide button {
        display: inline-block;
    }
    .hide {
        display: block;
    }

}

/* Large screens and Desktops */

@media (min-width: 1025px) and (max-width: 1200px) {

}

/* Extra Large screens and TVs  */

@media (min-width: 1201px) {

}